@import '~@angular/material/theming';

table, th, td {
  border: 1px solid black;
}

::ng-deep body {
  background-color: #f00; // So we can see leaked background
  height: 100vh;
  margin: 0px;
}

::ng-deep app-root {
  background-color: white; // Also we can see leaked background
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  // padding: 10px;
}


.box {
  width: 200px;
  height: 200px;
  padding: 5px;
  margin: 30px;
  @include mat-elevation(2);
}

polygon.shape {
  @include mat-elevation(4);
}

.shadow {
  // filter: drop-shadow( 0px 1px 1.5px rgba(0, 0, 0, .7));
}

.inner {
  filter:url(#inner-shadow);
}
