<h1>Proof of Concept</h1>>

<app-map-display style="width:800px; height: 600px;"></app-map-display>

<div>
  <mat-slider min="-50" max="50" [(ngModel)]="shift"></mat-slider>{{shift}}
</div>

<div>
  <mat-checkbox [(ngModel)]=a>A</mat-checkbox>
</div>
<div>
  <mat-checkbox [(ngModel)]=b>B</mat-checkbox>
</div>
<div>
  not({{a}}) = {{ test(not_chip) }}
</div>
<div>
  and({{a}}, {{b}}) = {{ test(and_chip) }}
</div>
<div>
  or({{a}}, {{b}}) = {{ test(or_chip) }}
</div>

<table>
  <tr>
    <th *ngFor="let wire of and_chip.input">{{ wire }}</th>
    <th>and(a, b)</th>
  </tr>
  <tr *ngFor="let input of inputs(and_chip.input.length)">
    <th *ngFor="let wire of input">{{wire}}</th>
    <th>0</th>
  </tr>
</table>

<div>
  <span *ngFor="let input of or_chip.input">{{input}}</span>
</div>
<div *ngFor="let line of or_chip.design" style="margin: 20px;">

  <span *ngFor="let action of line" style="border: 2px solid black; margin: 6px; padding: 5px;">
    {{action.kind === "apply" ? action.chip.name : action.kind}}
  </span>
</div>


