<div [class.mat-elevation-z4]=true style="z-index: 1; padding:10px; flex-grow: 0; height: 60px; display: flex; justify-content: space-between; align-items: center; background-color: rgb(245, 245, 245)">
  <h1>Logic Gate Displayer</h1>
</div>

<div
  style="flex-grow: 1; display: flex; justify-content: space-between; height: 40%;"
>
<div
    style="align-content: center; width:20%; display: flex; flex-direction: column; background-color: rgb(245, 245, 245)"  [class.mat-elevation-z4]=true
  >
  <h2>Mux</h2>
  <!-- <div>
    <input matInput placeholder="Favorite food" [(ngModel)]="tempchip">
    <button (click)="updateChip()">Update</button>
  </div> -->
  <div>
    <mat-checkbox (change)="updatea($event)">a</mat-checkbox>
  </div>
  <div>
    <mat-checkbox (change)="updateb($event)">b</mat-checkbox>
  </div>
  <div>
    <mat-checkbox (change)="updatesel($event)">sel</mat-checkbox>
  </div>
  </div>
  <!-- <app-map-display style="flex: 1 1 auto"></app-map-display> -->
  <svg width=1200 height=800>
    <svg:g app-chip-exterior [register]="register" [chip]="chip" [layouts]="layouts" [state]="state" />
  </svg>

</div>


<!-- <div>
  <mat-checkbox [(ngModel)]=a>A</mat-checkbox>
</div>
<div>
  <mat-checkbox [(ngModel)]=b>B</mat-checkbox>
</div>
<div>
  not({{a}}) = {{ test(not_chip) }}
</div>
<div>
  and({{a}}, {{b}}) = {{ test(and_chip) }}
</div>
<div>
  or({{a}}, {{b}}) = {{ test(or_chip) }}
</div> -->

<!-- <table>
  <tr>
    <th *ngFor="let wire of and_chip.input">{{ wire }}</th>
    <th>and(a, b)</th>
  </tr>
  <tr *ngFor="let input of inputs(and_chip.input.length)">
    <th *ngFor="let wire of input">{{wire}}</th>
    <th>0</th>
  </tr>
</table> -->

<!-- <div>
  <span *ngFor="let input of or_chip.input">{{input}}</span>
</div>
<div *ngFor="let line of or_chip.design" style="margin: 20px;">

  <span *ngFor="let action of line" style="border: 2px solid black; margin: 6px; padding: 5px;">
    {{action.kind === "apply" ? action.chip.name : action.kind}}
  </span>
</div> -->


