<h1>Proof of Concept</h1>

<div>
  <mat-checkbox [(ngModel)]=runAnimation>Animate</mat-checkbox>
</div>
<div class="box">
  <svg viewBox="-20 -20 200 150" >
    <defs>
      <filter id="shadow" x="-20%" y="-20%" width="200%" height="200%">
        <feDropShadow dx="0" dy="1" stdDeviation="5" flood-opacity="1"/>
      </filter>
      <filter id="inner-shadow" x="0%" y="0%" width="100%" height="100%">
        <feDropShadow dx="0" dy="0" [attr.stdDeviation]="shift" [attr.flood-opacity]="1"/>
        <!-- <feDropShadow dx="0" dy="1" [attr.stdDeviation]="shift" [attr.flood-opacity]="shift/5"/> -->
      </filter>
      <filter id="new-shadow" x="-50%" y="-50%" width="200%" height="200%">
        <feDropShadow dx="0" dy="0" [attr.stdDeviation]="shift" [attr.flood-opacity]="1"/>
        <!-- <feDropShadow dx="0" dy="1" [attr.stdDeviation]="shift" [attr.flood-opacity]="shift/5"/> -->
      </filter>
    </defs>
    <g *ngIf="!runAnimation">
        <polygon fill="white" stroke="white" stroke-width="10" style="filter:url(#shadow);" points="0,0 100,0 100,100 0,100 0,0" />
      <!-- <polygon fill="#FFFFFF" style="filter:url(#shadow);" class="shape" points="0,0 100,0 100,100 0,100 0,10 10,10 10,90 90,90 90,10 0,10" /> -->
      <!-- <circle fill="#FFFFFF" cx="50" cy="50" r="20" style="filter:url(#shadow);"></circle> -->
    </g>
    <g *ngIf="runAnimation">
        <polygon fill="white" stroke="white" stroke-width="10" style="filter:url(#shadow);" points="0,0 100,0 100,100 0,100 0,0" />
        <polygon fill="none" stroke="white" stroke-width="10" class="inner" points="0,0 100,0 100,100 0,100 0,0" />
        <circle fill="#FFFFFF" cx="50" cy="50" r="20" style="filter:url(#new-shadow);"></circle>
    </g>
  </svg>
</div>


<app-map-display style="width:800px; height: 600px;"></app-map-display>

<div class="box">Hello</div>



<!-- <div>
  <mat-checkbox [(ngModel)]=a>A</mat-checkbox>
</div>
<div>
  <mat-checkbox [(ngModel)]=b>B</mat-checkbox>
</div>
<div>
  not({{a}}) = {{ test(not_chip) }}
</div>
<div>
  and({{a}}, {{b}}) = {{ test(and_chip) }}
</div>
<div>
  or({{a}}, {{b}}) = {{ test(or_chip) }}
</div> -->

<!-- <table>
  <tr>
    <th *ngFor="let wire of and_chip.input">{{ wire }}</th>
    <th>and(a, b)</th>
  </tr>
  <tr *ngFor="let input of inputs(and_chip.input.length)">
    <th *ngFor="let wire of input">{{wire}}</th>
    <th>0</th>
  </tr>
</table> -->

<!-- <div>
  <span *ngFor="let input of or_chip.input">{{input}}</span>
</div>
<div *ngFor="let line of or_chip.design" style="margin: 20px;">

  <span *ngFor="let action of line" style="border: 2px solid black; margin: 6px; padding: 5px;">
    {{action.kind === "apply" ? action.chip.name : action.kind}}
  </span>
</div> -->


