<svg>
<g *ngFor="let input of chip.input; index as y">
  <svg x="10" [attr.y]="y * 150 + 10" style="fill:gray; stroke:black">
    <g>
      <line
        x1="0"
        y1="70"
        x2="100"
        y2="70"
        style="stroke:black;stroke-width:4"
      />
      <text x="25" y="60" font-family="Verdana" font-size="20" fill="black">
        {{ input }}
      </text>
    </g>
  </svg>
</g>
<g *ngFor="let line of chip.design; index as x">
  <g *ngFor="let action of line; index as y">
    <svg
      *ngIf="action.kind === 'apply'"
      [attr.x]="x * 150 + 10 + 150"
      [attr.y]="y * 150 + 10"
      style="fill:gray; stroke:black"
    >

      <g>
        <g *ngIf="action.chip.name === 'not'">
            <polygon points="0,0 0,100 100,50" />
            <circle cx="105" cy="50" r="5" />
          </g>
          <g *ngIf="action.chip.name !== 'not'">
            <polygon points="0,0 0,130 130,130 130,0" />
          </g>
        <g *ngIf="scale >= 2.0">
          <svg:g app-chip-display [chip]=action.chip [scale]="0.5*scale" transform="scale(0.2)" />
        </g>
        <g *ngIf="scale < 2.0">
          <text x="25" y="60" font-family="Verdana" font-size="20" fill="black">
            {{ action.chip.name }}
          </text>
        </g>



      </g>
    </svg>
    <svg
      *ngIf="action.kind === 'nand'"
      [attr.x]="x * 150 + 10 + 150"
      [attr.y]="y * 150 + 10"
      style="fill:gray; stroke:black"
    >
      <g>
        <polygon points="0,0 0,100 100,100 100,0" />
        <text x="25" y="60" font-family="Verdana" font-size="20" fill="black">
          {{ action.kind }}
        </text>
      </g>
    </svg>
    <svg
      *ngIf="action.kind === 'wire'"
      [attr.x]="x * 150 + 10 + 150"
      [attr.y]="y * 150 + 10"
      style="fill:gray; stroke:black"
    >
      <g>
        <!-- <polygon points="0,0 0,100 100,100 100,0"/> -->
        <text x="25" y="60" font-family="Verdana" font-size="20" fill="black">
          {{ action.from }} -> {{ action.to }}
        </text>
      </g>
    </svg>
  </g>
</g>
<g *ngFor="let output of chip.output; index as y">
  <svg
    [attr.x]="chip.design.length * 150 + 150"
    [attr.y]="y * 150 + 10"
    style="fill:gray; stroke:black"
  >
    <g>
      <line
        x1="0"
        y1="70"
        x2="100"
        y2="70"
        style="stroke:black;stroke-width:4"
      />
      <text x="25" y="60" font-family="Verdana" font-size="20" fill="black">
        {{ output }}
      </text>
    </g>
  </svg>
</g>
</svg>
